* {
   outline: 0;
}

body {
    background-color: #212121;
}

a, h1, h2, h3, h4 {
    color: #2E97BF;
}

a .fa.fa-dropbox {
    color: #f28d1a;
}

a .fa.fa-github {
    color: #ffffff;
}

a .fa.fa-twitch {
    color: #6441a4;
}

a .fa.fa-twitter {
    color: #1da1f2;
}

a .fa.fa-youtube-play {
    color: #ff0000;
}

a, .fa {
    transition: all 0.3s ease;
}

a .fa {
    color: #c9c9c9;
}

a:hover .fa {
    opacity: 0.5;
}

a:hover {
    text-decoration: none;
}