* {
   outline: 0;
}

body {
    background-color: #212121;
}

a, h1, h2, h3, h4, label {
    color: #c9c9c9;
}

a .svg-inline--fa.fa-dropbox,
a .fab.fa-dropbox {
    fill: #f28d1a;
}

a .svg-inline--fa.fa-instagram,
a .fab.fa-instagram {
    fill: url(#lgrad-instagram);
}

a .svg-inline--fa.fa-github,
a .fab.fa-github {
    fill: url(#lgrad-github);
}

a .svg-inline--fa.php-gradient,
a .fas.php-gradient {
    fill: url(#lgrad-php);
}

a .svg-inline--fa.javascript-gradient,
a .fas.javascript-gradient {
    fill: url(#lgrad-javascript);
}

a .svg-inline--fa.slim-gradient,
a .fas.slim-gradient {
    fill: url(#lgrad-slim);
}

a .svg-inline--fa.jquery-gradient,
a .fas.jquery-gradient {
    fill: url(#lgrad-jquery);
}

a .svg-inline--fa.fa-gulp,
a .fab.fa-gulp {
    fill: #E34C4F;
}

a .svg-inline--fa.fa-twitch,
a .fab.fa-twitch {
    fill: #6441a4;
}

a .svg-inline--fa.fa-x-twitter,
a .fab.fa-x-twitter {
    fill: #1D9BF0;
}

a .svg-inline--fa.fa-youtube,
a .fab.fa-youtube {
    fill: #ff0000;
}

a .svg-inline--fa.fa-npm,
a .fab.fa-npm {
    fill: #CB3837;
}

a .svg-inline--fa.fa-steam,
a .fab.fa-steam {
    fill: url(#lgrad-steam);
}

a .svg-inline--fa.fa-stack-overflow,
a .fab.fa-stack-overflow {
    fill: #f48024;
}

a .svg-inline--fa.typo3-gradient,
a .fab.typo3-gradient,
a .svg-inline--fa.fa-typo3,
a .fab.fa-typo3 {
    fill: url(#lgrad-typo3);
}

a .svg-inline--fa.fa-vuejs,
a .fab.fa-vuejs {
    fill: #40B380;
}

a {
    transition: all 0.3s ease;
}

a .fab, a .fas, a .svg-inline--fa {
    fill: #c9c9c9;
}

a:hover {
    color: #fff;
    opacity: 0.75;
    text-decoration: none;
}

.fa-layers-text {
    color: #212121;
}
