* {
   outline: 0;
}

body {
    background-color: #212121;
}

a, h1, h2, h3, h4, label {
    color: #FF2525;
}

a .svg-inline--fa.fa-dropbox,
a .fab.fa-dropbox {
    color: #f28d1a;
}

a .svg-inline--fa.fa-instagram,
a .fab.fa-instagram {
    color: #c13584;
}

a .svg-inline--fa.fa-github,
a .fab.fa-github {
    color: #ffffff;
}

a .svg-inline--fa.fa-twitch,
a .fab.fa-twitch {
    color: #6441a4;
}

a .svg-inline--fa.fa-twitter,
a .fab.fa-twitter {
    color: #1da1f2;
}

a .svg-inline--fa.fa-youtube,
a .fab.fa-youtube {
    color: #ff0000;
}

a .svg-inline--fa.fa-npm,
a .fab.fa-npm {
    color: #CB3837;
}

a .svg-inline--fa.fa-steam-symbol,
a .fab.fa-steam-symbol {
    color: #ffffff;
}

a .svg-inline--fa.fa-stack-overflow,
a .fab.fa-stack-overflow {
    color: #f48024;
}

a {
    transition: all 0.3s ease;
}

a .fab, a .fas, a .svg-inline--fa {
    color: #c9c9c9;
}

a:hover {
    color: #fff;
    opacity: 0.75;
    text-decoration: none;
}

.fa-layers-text {
    color: #212121;
}
