Rewritecond %{HTTP_HOST} ^insanitymeetshh\.net
RewriteRule ^(.*)$ https://www.insanitymeetshh.net/$1 [R=301,L]

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://www.insanitymeetshh.net/$1 [L,R=301]

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php [NC,L,QSA]